 
        .background {    
            background-image: url("wartt.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
            }
            body {
                background-image: url("wartt.jpg");
                background-repeat: no-repeat;
              }




